@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@import "../styles/base/animations.css";
@import "../styles/base/variables.css";

/* Editor styles */
@import "../styles/editor/tiptap-base.css";
@import "../styles/editor/tiptap-nodes.css";
@import "../styles/editor/tiptap-ui.css";

/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard", sans-serif;
  word-wrap: break-word;
}

@layer base {
  :root {
    --background: #f8f8f6;
    --foreground: #0b0908;
    --muted: var(--tt-text-muted);
    --radius: 0.5rem;
  }

  .dark {
    /* --background: #08080a; */
    --background: #09090b; /* zinc-950 */
    --foreground: #f0eee9;
    --muted: var(--tt-text-muted);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
