@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.custom-body {
  width: 60vw;
  min-width: 240px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
}

* {
  font-family: "Noto Serif", "Noto Sans", sans-serif;
  word-wrap: break-word;
}

.title {
  margin: 50px auto;
  text-align: center;
  cursor: pointer;
}

.nav {
  padding: 8px;
  /* background-color: #1a1a1a; */
  border-radius: 5px;
}

.nav > * {
  text-align: center;
  font-size: larger;
  /* box-shadow: 0 1px 1px #d9d9d9; */
}

.nav-link {
  margin-left: 20px;
  margin-right: 20px;
  color: black !important;
}

.body-init > * {
  margin-top: 30px;
  text-align: left;
  font-weight: bold;
}

.form-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-id-child2 {
  flex-grow: 1;
  margin-left: 10px;
}

.unconfirmed {
  border: 2px solid red !important;
}

.page-body {
  width: auto;
  background-color: #f9f9f9;
  padding: 3rem 2rem;
  text-align: left;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 20vw;
  max-width: 480px;
  max-height: 1280px;
}

.options-column {
  width: fit-content;
}

.contents-column {
  width: auto;
  text-align: left;
}

.nav-pdf {
  /* --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem; */
  padding: 0.3rem 1rem 0.5rem 1rem;
  color: black;
}

.change-pw-hidden {
  display: none;
}

.textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  white-space: pre-wrap;
}

@media (max-width: 1024px) {
  .custom-body {
    width: 80vw;
  }
}
