@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@import "../styles/base/animations.css";
@import "../styles/base/variables.css";

/* Editor styles */
@import "../styles/editor/tiptap-base.css";
@import "../styles/editor/tiptap-nodes.css";
@import "../styles/editor/tiptap-ui.css";

/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard", sans-serif;
  word-wrap: break-word;
}

@layer base {
  :root {
    --background: 60 13% 97%;
    --foreground: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
